<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>VuejsTodoList</title>
    </head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <style>
        .completed {
        text-decoration: line-through;
        }
    </style>

    <body>
        <div id="app" class="container my-3">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">待辦事項</span>
                </div>
                <input type="text" class="form-control" placeholder="準備要做的任務" v-model="newTodo" v-on:keyup.enter="addTodo">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" v-on:click="addTodo">新增</button>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="#" 
                            v-bind:class="{'active':status == 'all'}" 
                            v-on:click="status ='all'">全部</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" 
                            v-bind:class="{'active':status == 'active'}" 
                            v-on:click="status ='active'">進行中</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" 
                            v-bind:class="{'active':status == 'completed'}" 
                            v-on:click="status ='completed'">已完成</a>
                        </li>
                    </ul>
                </div>
                <ul class="list-group list-group-flush text-left">
                    <li class="list-group-item" 
                    v-for="(item,key) in filteredTodo"
                    v-on:dblclick="editTodo(item)">
                        <div class="d-flex" v-if="item.id !== cacheTodo.id">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="a1" 
                                v-model="item.completed"
                                v-bind:id="item.id">
                                <label class="form-check-label" for="a1" 
                                v-bind:class="{'completed':item.completed}" v-bind:for="item.id">
                                    {{item.title}}
                                </label>
                            </div>
                            <button type="button" class="close ml-auto" aria-label="Close" v-on:click="removeTodo(item)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <input type="text" class="form-control"
                        v-if="item.id === cacheTodo.id"
                        v-model="cacheTitle"
                        v-on:keyup.esc="canceTodo"
                        v-on:keyup.enter="doneEdit(item)">
                    </li>
                </ul>
                <div class="card-footer d-flex justify-content-between">
                    <span>還有 {{todoListCount}} 筆任務未完成</span>
                    <a href="#" v-on:click.preventDefault="removeAll()">清除所有任務</a>
                </div>
            </div>
        </div>
        <script src="/js/vue.js"></script>
        <script src="/js/all.js"></script>
    </body>

</html>
